<h1>Carrito de Compras</h1>

{{#if cart}}
  <ul>
    {{#each cart.products}}
      <li>
        <h2>{{this.product.name}}</h2>
        <p>Precio: ${{this.product.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <form action="/carts/{{../cart._id}}/products/{{this.product._id}}" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Eliminar Producto</button>
        </form>
      </li>
    {{/each}}
  </ul>
  <form action="/carts/{{cart._id}}" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Vaciar Carrito</button>
  </form>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}
