<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

</head>
<body>
   <h1>Perfil de {{nombre}}</h1>
   <p>Id de usuario: <strong> {{id}}</strong></p>
   <p>Email: <strong>{{email}}</strong> </p>
   <p>Rol: <strong>{{rol}}</strong> </p>
   <p>Token: <strong>{{token}}</strong> </p>

   <a href="/logout"> Cerrar Sesion</a>

</body>
</html>