<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

</head>
<body>
    {{{body}}}
      
      
      {{#each products}}
      <li>titulo: {{title}} descripcion:{{description}} precio: ${{price}} stock: {{stock}} categoria: {{category}}</li>
      {{/each}}
      
                                              
   



</body>
</html>