<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>chat</title>


</head>

<body>
  {{{body}}}
  <h1>Bienvenido! {{nombre}}</h1>
  <p id={{email}} class="email"> Email: {{email}}</p>
  <h1>Lista de Productos</h1>   
  <ul>
    {{#each products}}
    <li>
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <p>Precio: ${{price}}</p>
      <p>stock: {{stock}}</p>
      <p>Categoria: {{category}}</p>
      <button class="productbutton" id={{_id}}>agregar al carrito</button>
    </li>
    {{/each}}
  </ul>
  <a href="/api/products?pagina=1">Pag.1</a>
  <div class="cart" data-cart-id="1"> </div>

  {{#if hasPrevPage}}
  <li>
  <a href="/api/products?pagina={{prevPage}}">Prev.Pág.</a>
  </li>
  {{else}}<span>Prev.Pág.</span>
  {{/if}}

  {{#if hasNextPage}}
  <a href="/api/products?pagina={{nextPage}}">Next.Pág.</a>
  {{else}}<span>Next.Pág.</span>
  {{/if}}

<a href="/api/products?pagina={{totalPages}}">Ult.Pág</a>

  <li><a href="/current">Perfil</a></li>
  <li><a href="/api/carts">Mi Carrito</a></li>
  <li><a href="/logout">logout</a></li>
  <li><a href="/chat">Chat</a></li>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/addToCart.js"></script>


</body>

</html>